{% extends 'base.html' %}

{% block title %}
Добавление локации
{% endblock %}

{% block content %}
<h1>Добавление локаци</h1>


<div class="container ">
    <div class="row">
        <div class="col-3">
            <form method="post">
                <div class="mb-3">
                    <input placeholder="Наименование" type="text" name="name">
                </div>
               
                <div class="mb-3">
                    <button class="btn btn-success" type="submit">Добавить</button>
                </div>
            </form>
        </div>
        <div class="col-9">


            <div class="container ">
                {% for thing in stuff %}
                    <div class="row">
                        <div class="col-2 text-start">
                            {{ thing.name }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}