{% extends 'base.html' %}

{% block title %}
Весь инвентарь
{% endblock %}

{% block content %}
<h1>Весь инвентарь</h1>

<div class="container text-center">
    <div class="row .bg-info-subtle text-info-emphasis fs-5 fw-semibold">
        <div class="col-2 text-start">
            Наименование
        </div>
        <div class="col-5 text-start">
            Описание
        </div>
        <div class="col-2 text-start">
            Локация
        </div>
        <div class="col-1">
            Цена
        </div>
        <div class="col-1">
            Остаток
        </div>
        <div class="col-1">
            
        </div>
    </div>
    {% for thing in stuff %}
        <div class="row">
            <div class="col-2 text-start">
                {{ thing.Products.name }}
            </div>
            <div class="col-4 text-start" >
                {{ thing.Products.description }}
            </div>
            <div class="col-2 text-start">
                {{ thing.Locations.name }}
            </div>
            <div class="col-1">
                {{ thing.Products.price }}
            </div>
            <div class="col-1">
                {{ thing.Inventory.quantity }}
            </div>
            <div class="col-2">
                <a class="btn btn-outline-primary" href="/additem/{{ thing.Inventory.id }}">+</a>
                <a class="btn btn-outline-primary" href="/delitem/{{ thing.Inventory.id }}">-</a>
                <a class="btn btn-outline-primary" href="/removefromstore/{{ thing.Inventory.id }}">Del</a>
                <a class="btn btn-outline-primary" href="/getfreelocations/{{ thing.Products.id }}">Store</a>
            </div>

        </div>
    {% endfor %}

</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalProduct">
    Добавить товар
</button>

<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalLocation">Добавить локацию</a>
  
      
<div class="modal fade" id="ModalProduct" tabindex="-1" aria-labelledby="ModalProductLabel" aria-hidden="False">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalProductLabel">Добавить товар модально</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                <div class="mb-3">
                    <input id="namef" placeholder="Наименование" type="text" name="name">
                </div>
                <div class="mb-3">
                    <input id="descf" placeholder="Описание" type="text" name="description">
                </div>
                <div class="mb-3">
                    <input id="pricef" placeholder="Цена" type="text" name="price">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btn1" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="ModalLocation" tabindex="-1" aria-labelledby="ModalLocationLabel" aria-hidden="False">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalLocationLabel">Добавить локацию модально</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                <div class="mb-3">
                    <input id="nameloc" placeholder="Наименование" type="text" name="name">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btn2" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
       
<script>
    // let prod = {
    //    name: name,
    //    description: description,
    //    price: price
    //} 
    document.getElementById('btn1').addEventListener("click", function() {
        
        fetch("/addprodm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                name: document.getElementById('namef').value,
                description: document.getElementById('descf').value,
                price: document.getElementById('pricef').value
            })
        })
        .then(response => response.text())
        .then(//data => {
            //document.querySelector("#jsonResult").innerText = JSON.stringify(data);
            html => {
                console.log(html);
        })
        .catch(error => console.error("Ошибка:", error));
    });
    document.getElementById('btn2').addEventListener("click", function() {
        fetch("/addlocationmodal", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                name: document.getElementById('nameloc').value,
            })
        })
        .then(response => response.text())
        .then(//data => {
            //document.querySelector("#jsonResult").innerText = JSON.stringify(data);
            html => {
                console.log(html);
        })
        .catch(error => console.error("Ошибка:", error));
    })
</script>
 
 
{% endblock %}