{% extends 'base.html' %}

{% block title %}
Товар и локация
{% endblock %}

{% block content %}
<h1>Товар для добавления в новую локацию</h1>


<form method="post">
    <div class="form-group">
        <label for="locationSelect1">Склад/магазин:</label>
        <select class="form-control" id="locationSelect1" name="location_id">
        {% for location in stores %}
            <option value="{{ location.Locations.id }}">
                {{ location.Locations.name }}
            </option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="amountStuff">Количество товара</label>
        <input type="number" name="amount" class="form-control" id="amountStuff" aria-describedby="amountStuffHelp" placeholder="Number">
        <small id="amountStuffHelp" class="form-text text-muted">Количество товара на выбранном складе/магазине</small>
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <input type="hidden" name="product_id" value="{{ pid }}">
</form>

{% endblock %}